<!-- <p style="color: Red"><%=@error%></p> -->

<%= form_tag :action => 'auth' do %>
	<div class="feild">
		<label>ユーザ名：<br/>
			<%=text_field_tag(:username,'',{:size => 20})%>
		</label>
	</div>
	<div class="feild">
		<label>パスワード：<br/>
			<%=text_field_tag(:password,'',{:size => 20})%>
		</label>
	</div>
	<%= submit_tag 'ログイン' %>
<% end %>
	
