<!DOCTYPE html>
<html>
<head>
  <title>BookAlbum</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <%= google_webfonts_init(
	google: ['Roboto Slab', 'Rajdhani']
  )%>

  <style>
	  #header-area {
		  padding-top: 40px;
		  margin-bottom: 40px;
	  }

	  #global-nav {
		  width: 147px;
		  float: right;
		  margin-bottom: 64px;
	  }

	  #content-area {
		  width: 701px;
		  float: left;
	  }

	  #footer-area {
		  width: 701px;
		  margin-bottom: 20px;
		  clear: both;
		  overflow: hidden;
	  }
	  .item-nav {
		  margin-top: -3px;
		  padding-left: 4px;
	  }
	  .item-nav, x:-moz-any-link, x:default {
		  padding-bottom: 23px;
		  margin-bottom: 30px;
	  }
	  #wrapper {
		  width: 947px;
		  margin: 0px auto;
		  padding: 0px 0px 0px 13px;
	  }
  </style>
</head>
<body>
<div id="wrapper">
	<div id="header-area" >
	</div>

  <div id="global-nav">
		<div class="item-nav">
			<ul >
				<li><a href="/">Home</a></li>
				<li><a href="/books">Book</a></li>
				<li><a href="/books/stat">Stats</a></li>
				<li><a href="/infos/about">About</a></li>
				<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
				<ul class="dropdown-menu">
				  <li><a href="#">Action</a></li>
				  <li><a href="#">Another action</a></li>
				  <li><a href="#">Something else here</a></li>
				  <li role="separator" class="divider"></li>
				  <li class="dropdown-header">Nav header</li>
				  <li><a href="#">Separated link</a></li>
				  <li><a href="#">One more separated link</a></li>
				</ul>
			</ul>
		</div>
	</div>

	<div id="content-area">
		<%= yield %>
	</div>

</div>
</body>
</html>
