<!-- carousel用のスタイル -->
<style type="text/css">
h2{
    margin: 0;     
    color: #666;
    padding-top: 90px;
    font-size: 52px;
    font-family: "trebuchet ms", sans-serif;    
}
.item{
    background: #333;    
    text-align: center;
    height: 300px !important;
}
.carousel{
    margin-top: 20px;
}
.carousel-area{
	margin: 20px;
}
</style>


<p id="notice"><%= notice %></p>

<h1>Listing Books</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Rank</th>
      <th>Price</th>
      <th>Description</th>
      <th>出版社</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
  	
    <% @books.each_with_index do |book,index| %>
    <% rank_id = "star"+index.to_s %>
      <tr>
      	<td><%= book.amazon_url.html_safe %></td>
        <td><%= book.name %></td>
        <td><div id="<%=rank_id %>"></div></td>
        <td><%= book.price %></td>
        <td><%= book.description %></td>
        <td><%= (book.publisher ?  book.publisher.name : "" )%></td>
        <td>
        	<%= link_to 'Show', book %>
        	<%= link_to 'Edit', edit_book_path(book) %>
        	<%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
      <script>doRaty("<%=rank_id %>",<%= book.rank %>)</script>
    <% end %>    
  </tbody>
</table>

<br>

<%= link_to 'New Book', new_book_path %>
<div class="carousel-area">
<!-- 1.カルーセルパネルの配置 http://codezine.jp/article/detail/8350?p=2 -->
<div id="carousel-book" class="carousel slide"  data-interval="3000" data-ride="carousel">

    <!-- 2.表示中のスライドを表すリスト -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-book" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-book" data-slide-to="1"></li>
        <li data-target="#carousel-book" data-slide-to="2"></li>
     </ol>

    <!-- 3.表示するスライドのコンテンツ -->
    <div class="carousel-inner">
    	<% @books.each_with_index do |book,index| %>
        <div class="item <%='active' if index==0 %>">
          <%= book.amazon_url.html_safe %>
          <div class="container">              	
            <div class="carousel-caption">                	
                <h2><%=book.name%></h2>
                <p><%=book.description%></p>
            </div>
          </div>
        </div>
        <% end %>  
    </div>

    <!-- 4.左右の矢印ボタン -->
    <a class="left carousel-control" href="#carousel-book" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-book" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a> 
    
</div>
</div>

