<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @book.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @book.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<p>
  <strong>Rnak:</strong>
  <div id="star"></div>
</p>
<script>doRaty("star",<%= @book.rank %>)</script>


<!-- <script>
$('#star').raty({
  size     : 36,
  starOff: '/assets/star-off.png',
  starOn : '/assets/star-on.png',
  scoreName: 'review[point]' ,
  readOnly: true,
  score : <%= @book.rank %>
});
</script> -->


<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
